{% load static %}
<!--new add-->
{% load static %}
<div class="w3-hide-small">
<!-- Hero -->
<div class="relative overflow-hidden pt-4">
  <!-- Gradients --> 
  <!-- End Gradients -->
  <br><br>
  <div class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 ">
    <div class="flex flex-col  justify-between lg:flex-row">
      <div class="">
        <div class="flex justify-center">
          <a class="inline-flex items-center gap-x-2 bg-white border border-indigo-600 text-sm text-gray-800 p-1 pl-3 rounded-full transition hover:border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-600 dark:text-gray-200" href="tel:7004197301">
            <i class="fa fa-phone" aria-hidden="true"></i>Buy on phone 7004197301
            <span class="py-2 px-3 inline-flex justify-center items-center gap-x-2 rounded-full bg-orange-700 font-semibold text-sm text-white dark:bg-gray-700 dark:text-gray-400">
              <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
              </svg>
            </span>
          </a>
        </div>
<div class="relative overflow-hidden before:absolute before:top-0 before:left-1/2 before:bg-[url('../svg/component/polygon.svg')] before:bg-no-repeat before:bg-top before:bg-cover before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2 dark:before:bg-[url('../svg/component/polygon-dark.svg')]">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-2 pb-10">
    <!-- Title -->
    <div class=" max-w-2xl  mx-auto">
     
      <h6 class="block font-medium text-gray-800 text-3xl  lg:text-5xl ">
        One-Stop Procurement for<br><span class="md:text-4xl  font-bold lg:text-6xl text-indigo-600 py-1">Building Material </span>
     </h6>
    </div>
    <!-- End Title -->

    <div class="mt-5 max-w-3xl  mx-auto">
      <p class="text-lg text-gray-600 dark:text-gray-400">Please share your requirement</p>
    </div>

    <!-- Buttons -->
    <div class="mt-4 grid gap-3 w-full sm:inline-flex text-center  ">
      <a href="/cements/3" class="inline-flex text-center gap-x-3  bg-indigo-700  border border-transparent text-white text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white py-3 px-4 dark:focus:ring-offset-gray-800" href="/tiles/1">
        Enquiry Now
   
      </a>
    </div>
    <!-- End Buttons -->

  </div>
</div>
<!-- End Hero -->
      </div>
    
      <div class="relative lg:w-1/2 pt-4">
        <div class="swiffy-slider slider-item-show1 slider-item-reveal slider-item-snapstart slider-item-nogap slider-item-reveal slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio " data-slider-nav-autoplay-interval="8000">
          <div class="slider-container">
              <div>    <img
                className="d-block w-80"
                src="https://i.postimg.cc/CLG1SdBx/HOMRJERJER.png"
                alt="First slide"
              /></div>
        
              <div>   <img
                className="d-block w-100"
                src="https://i.postimg.cc/13XZvfK7/Janeu-BBBB.png"
                alt="First slide"
              /></div>
              
              <div>   <img
                className="d-block w-100"
                src="https://i.postimg.cc/J02Z48KX/Janeu-16.png"
                alt="First slide"
              /></div>
           
          </div>
        
          <button type="button" class="slider-nav" aria-label="Go left"></button>
          <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
        
        </div>
      </div>
    </div>
  </div>
</div>

<!--large-->
<br>

<div class="w3-hide-small w3-hide-medium  w3-content w3-center"  style="max-width:700px"  id="band">
  <div class="w3-row">
    <div class="w3-col s2">
       <a
          {% if 'cements' in request.path %}
          class=" "
          {% else %}
          class=""
          {% endif %}
           href="/cements/1">
     
      <img 
      height="110px"
      src="https://i.postimg.cc/506G0NCp/Cement-5.png">
    </a>
    </div>
    <div class="w3-col s2">
      <a
          {% if 'cars' in request.path %}
          class=" "
          {% else %}
          class=""
          {% endif %}
           href="/cars/1"> <img 
      height="110px"
      src="https://i.postimg.cc/QMRPFZJ3/Cement-6.png">
    </a>
    </div>
    <div class="w3-col s2">
      <a
        {% if 'tiles' in request.path %}
        class=" "
        {% else %}
        class=""
        {% endif %}
         href="/tiles/1">
      <img 
      height="110px"
      src="https://i.postimg.cc/d1sVH01q/Cement-11.png"></a></div>
  <!--second-->

    <div class="w3-col s2">
      <a
    {% if 'marbles' in request.path %}
    class=" "
    {% else %}
    class=""
    {% endif %}
     href="/tiles/2">
      <img 
      height="110px"
      src="https://i.postimg.cc/zXxqV3bY/Cement-7.png">
    </a>
    </div>
    <div class="w3-col s2">
     <a
        {% if 'tiles' in request.path %}
        class=" "
        {% else %}
        class=""
        {% endif %}
         href="/marbles/3">
      <img 
      height="110px"
      src="https://i.postimg.cc/kXvst1bL/Cement-12.png"></a></div>
    <div class="w3-col s2">
      <a
        {% if 'tiles' in request.path %}
        class=" "
        {% else %}
        class=""
        {% endif %}
         href="/marbles/4">
      
      <img 
      height="110px"
      src="https://i.postimg.cc/GmK1qnBR/Cement-13.png">
    </a></div>
  </div>
  <!--tag-->
<br><br>
<span class="text-xs font-semibold inline-block py-1 px-2  rounded text-Gray-600 bg-indigo-100 last:mr-0 mr-1">
  # Fasted Delivery Network
</span>
<span class="text-xs font-semibold inline-block py-1 px-2  rounded text-emerald-600 bg-emerald-100  last:mr-0 mr-1">
  # Dedicated Relationship Manager
</span>
<span class="text-xs font-semibold inline-block py-1 px-2 rounded text-pink-600 bg-pink-100  last:mr-0 mr-1">
 # Secure Payments:
</span>
<span class="text-xs font-semibold inline-block py-1 px-2 rounded text-orange-600 bg-orange-100  last:mr-0 mr-1">
# High-Quality Service:
</span>

</div>

<div class="bg-white py-2 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600"></h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Trending <span class="text-indigo-600"> Products</span></p>
   </div>
    <!--SMALL--><br>
    <div class="grid grid-cols-4 gap-4 ">
      <div>
     <!--card-->   
     <div class="relative flex w-21 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
      <div class="relative mx-4 mt-4 h-26 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
        <img
          src="https://i.postimg.cc/x10msSLw/TMT-steel-bars-1-1.png"
          class="h-full w-full object-cover"
        />
      </div>
      <div class="p-6">
        <div class="mb-2 flex items-center justify-between">
          <p class="block font-sans text-base font-bold leading-relaxed text-blue-gray-900 antialiased">
          
          </p>
          <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
            
          </p>
        </div>
        <p class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
           <div class="py-1">
          <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">TMT steel bars</span>
          <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Sheet</span>
           </div>

          <div class="py-1">
            <span class="bg-purple-100 ttext-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Steel Plipe</span>
        
            <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">TMT Bar Ring</span>
           </div>
        </p>
      </div>
      <div class="p-6 pt-0">
       <a href="/cements/3"> <button
          class="block w-full select-none rounded-lg bg-gray-50 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
        >
        Enquiry Now
        </button>
        </a>
      </div>
    </div>
<!--endcard-->
      </div>
      
      <div>
        <div class="relative flex w-21 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
          <div class="relative mx-4 mt-4 h-26 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
            <img
              src="https://i.postimg.cc/kMbrX2By/TMT-steel-bars-2-2.png"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="p-6">
            <div class="mb-2 flex items-center justify-between">
              <p class="block font-sans text-base font-bold leading-relaxed text-blue-gray-900 antialiased">
              
              </p>
              <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                
              </p>
            </div>
            <p class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
               <div class="py-1">
              <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Plywood
              </span>
              <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">WPC Panels</span>
               </div>
    
              <div class="py-1">
                <span class="bg-purple-100 ttext-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Louvers</span>
            
                <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Wall Panel</span>
               </div>
            </p>
          </div>
          <div class="p-6 pt-0">
            <a href="/cements/3"> <button
               class="block w-full select-none rounded-lg bg-gray-50 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
               type="button"
             >
             Enquiry Now
             </button>
             </a>
           </div>
        </div>
      </div>

      <div>
        <div class="relative flex w-21 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
          <div class="relative mx-4 mt-4 h-26 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
            <img
              src="https://i.postimg.cc/kgnWwYZh/TMT-steel-bars-3-1.png"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="p-6">
            <div class="mb-2 flex items-center justify-between">
              <p class="block font-sans text-base font-bold leading-relaxed text-blue-gray-900 antialiased">
            
              </p>
              <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                
              </p>
            </div>
            <p class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
               <div class="py-1">
              <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Faucets</span>
              <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Shower</span>
               </div>
    
              <div class="py-1">
                <span class="bg-purple-100 ttext-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Western Toilet</span>
            
                <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Wash Basins</span>
               </div>
            </p>
          </div>
          <div class="p-6 pt-0">
            <a href="/cements/3"> <button
               class="block w-full select-none rounded-lg bg-gray-50 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
               type="button"
             >
             Enquiry Now
             </button>
             </a>
           </div>
        </div>
      </div>
      
      <div>
        <div class="relative flex w-21 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
          <div class="relative mx-4 mt-4 h-26 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
            <img
              src="https://i.postimg.cc/L5JmHSn0/TMT-steel-bars-4-1.png"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="p-6">
            <div class="mb-2 flex items-center justify-between">
              <p class="block font-sans text-base font-bold leading-relaxed text-blue-gray-900 antialiased">
              
              </p>
              <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                
              </p>
            </div>
            <p class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
               <div class="py-1">
              <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Ceramic Tile</span>
              <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Glass tiles</span>
               </div>
    
              <div class="py-1">
                <span class="bg-purple-100 ttext-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Mosaic Tile</span>
            
                <span class="bg-purple-100 text-gray-800 text-xs font-medium mr-2 px-3.5 py-1.5 rounded  border-purple-400">Natural Stone Tile</span>
               </div>
            </p>
          </div>
          <div class="p-6 pt-0">
            <a href="/cements/3"> <button
               class="block w-full select-none rounded-lg bg-gray-50 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
               type="button"
             >
             Enquiry Now
             </button>
             </a>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<!--how it work-->








<!--smallscreenupgeade-->



<div class=" py-2 w3-content w3-center  w3-hide-large w3-hide-medium" style="max-width:320px" id="band">
  
<!--slideshow-->
<div class="swiffy-slider slider-item-show1 slider-item-reveal slider-item-snapstart slider-item-nogap slider-item-reveal slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio " data-slider-nav-autoplay-interval="8000">
  <div class="slider-container">
      <div>    <img
        className="d-block w-80"
        src="https://i.postimg.cc/CLG1SdBx/HOMRJERJER.png"
        alt="First slide"
      /></div>

      <div>   <img
        className="d-block w-100"
        src="https://i.postimg.cc/13XZvfK7/Janeu-BBBB.png"
        alt="First slide"
      /></div>
      
      <div>   <img
        className="d-block w-100"
        src="https://i.postimg.cc/J02Z48KX/Janeu-16.png"
        alt="First slide"
      /></div>
   
  </div>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

</div>
</div>
<!--slideshow smallend-->

<!--text-->
<div class="w3-container py-4 w3-hide-large w3-hide-medium">
 
  <div
  class=" rounded-lg bg-gradient-to-r from-orange-50 from-10% via-gray-50 via-30% to-indigo-50 to-90% ... p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
  
  
  
  
  
  
  
  <h5
    class="mb-2 text-xl font-medium leading-tight text-dark ">
    One-Stop Procurement<br>For <span class="text-2xl  font-bold text-indigo-600 py-1">Building Material </span>
  </h5>
  
  <div class="py-1 max-w-3xl  mx-auto">
    <p class="text-md text-gray-600">Please share your requirement</p>
  </div>

  <a href="/cements/3">
  <button
  type="button"
  class="inline-block rounded bg-indigo-900  -100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] "
  data-te-ripple-init
  data-te-ripple-color="light">
  Enquiry Now
</button>
</a>
<div class="flex py-2">
  <a class="inline-flex items-center gap-x-2 bg-white border border-indigo-600 text-sm text-gray-800 p-1 pl-3 rounded-full transition hover:border-gray-300  dark:hover:border-gray-600" href="tel:7004197301">
    <i class="fa fa-phone" aria-hidden="true"></i>Buy on phone 
    <span class="py-2 px-3 inline-flex justify-center items-center gap-x-2 rounded-full bg-orange-700 font-semibold text-sm text-white dark:bg-gray-700 dark:text-gray-400">
      <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </span>
  </a>
</div>
</div>
</div>

<div class="w3-hide-large w3-hide-medium">
<div class="text-center      swiffy-slider slider-item-show2 slider-nav-dark slider-nav-visible slider-nav-outside slider-item-snapstart   slider-indicators-square slider-indicators-outside slider-indicators-dark slider-nav-animation-slideup slider-nav-animation slider-item-first-visible slider-nav-autoplay slider-nav-autopause" data-slider-nav-autoplay-interval="3000">
  <div class="slider-container">
      <div class="slide-visible">
          <div>
            <span class="text-xs font-semibold inline-block py-1 px-2  rounded text-Gray-600 bg-indigo-100 last:mr-0 mr-1">
              # Fasted Delivery Network
            </span>
          </div>
      </div>
      <div class="slide-visible">
          <div>
            <span class="text-xs font-semibold inline-block py-1 px-2 rounded text-pink-600 bg-pink-100  last:mr-0 mr-1">
              # Secure Payments:
             </span>
          </div>
      </div>
      <div class="slide-visible">
          <div>
            <span class="text-xs font-semibold inline-block py-1 px-2  rounded text-emerald-600 bg-emerald-100  last:mr-0 mr-1">
              # Dedicated Relationship Manager
            </span></div>
      </div>
      <div>
          <div>
            <span class="text-xs font-semibold inline-block py-1 px-2 rounded text-orange-600 bg-orange-100  last:mr-0 mr-1">
              # High-Quality Service
              </span></div>
      </div>
     
  </div>


</div>
</div>


  <!--card-->
  <div class="w3-container w3-hide-large w3-hide-medium">
    
    <div class="w3-col s4">
       <a
          {% if 'cements' in request.path %}
          class=" "
          {% else %}
          class=""
          {% endif %}
           href="/cements/1">
     
      <img 
      height="110px"
      src="https://i.postimg.cc/506G0NCp/Cement-5.png">
    </a>
    </div>
    <div class="w3-col s4">
      <a
          {% if 'cars' in request.path %}
          class=" "
          {% else %}
          class=""
          {% endif %}
           href="/cars/1"> <img 
      height="110px"
      src="https://i.postimg.cc/QMRPFZJ3/Cement-6.png">
    </a>
    </div>
    <div class="w3-col s4">
      <a
        {% if 'tiles' in request.path %}
        class=" "
        {% else %}
        class=""
        {% endif %}
         href="/tiles/1">
      <img 
      height="110px"
      src="https://i.postimg.cc/d1sVH01q/Cement-11.png"></a></div>
  </div>
  <!--second-->
  <div class="w3-row w3-container w3-hide-large w3-hide-medium">
    <div class="w3-col s4">
      <a
    {% if 'marbles' in request.path %}
    class=" "
    {% else %}
    class=""
    {% endif %}
     href="/tiles/2">
      <img 
      height="110px"
      src="https://i.postimg.cc/zXxqV3bY/Cement-7.png">
    </a>
    </div>
    <div class="w3-col s4">
     <a
        {% if 'tiles' in request.path %}
        class=" "
        {% else %}
        class=""
        {% endif %}
         href="/marbles/3">
      <img 
      height="110px"
      src="https://i.postimg.cc/kXvst1bL/Cement-12.png"></a></div>
    <div class="w3-col s4">
      <a
      {% if 'tiles' in request.path %}
      class=" "
      {% else %}
      class=""
      {% endif %}
       href="/marbles/4">
    
      
      <img 
      height="110px"
      src="https://i.postimg.cc/GmK1qnBR/Cement-13.png"></a></div>
  </div>
</div>
<!--button-->
<div class=" w3-hide-large w3-hide-medium  w3-container">
  <a class="nav-link  {% if request.resolver_match.url_name == 'collections' %}active{% endif %}" href="{% url 'collections' %}">

    More <i class="fa fa-angle-double-right" aria-hidden="true"></i>

  </a>
</div>



<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>