{% if messages %}

  {% for message in messages %}
      <div id="message" class="container w3-text-red py-6">
        <div class="w3-tag w3-round w3-green" style="padding:3px">
          <div class="w3-tag w3-round w3-green w3-border w3-border-white">        
        <div class="alert alert-{{ message.tags }}" alert-dismissable role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
           
            <strong >
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              
              {% else %}
                  {{mesaage.tags|title}}
              {% endif %}
            </strong>
            {{message}}
        </div>
        </div>
</div>
      </div>
  {% endfor %}

{% endif %}

